<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tradebot :: Automated Cryptocurrency Trader</title>
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">

	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#00bcd4">

	<!-- place all the generated css files here -->
	<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>
</head>
<body>

	<div id="root">
		<div class="component-loading">
			<div class="loading">
				<div class="loading-bar-container"><div class="bar"></div></div>
				<p class="loading-text">Loading... Please wait.</p>
			</div>
		</div>
	</div>

	<!-- place the generated manifest file here, inline. -->
	<%= htmlWebpackPlugin.files.webpackManifest %>

	<!-- place all the generated js here -->
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>

</body>
</html>
