/*
	Our Main Stylesheet.
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
	font-family: "Roboto", sans-serif;
	background: #F7F8FA;
	margin: 0;
	padding: 0;
}

#root {
	min-height: 100vh;
}

.component--appbar {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.component--content {
	padding-top: 64px;
}


